page-order {
    .content {
        background-color:#ececec;
    }
    .set-cant {
        font-size: 36px;
    }
    .circle {
        font-size: 48px;
    }
    .card {
        border-radius: 5px;
    }
    .image-product {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 200px;
        max-width: 200px;
    }
}
